.App{
  min-height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.search-form{
  min-height:10vh;
  justify-content: center;
  align-items:center;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}